<!-- Card -->
<mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="{{ result.imgUrl }}" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <mdb-card-body>
          
          <mdb-card-title>
            <h4>{{ result.title }}</h4>
          </mdb-card-title>
      
          <mdb-card-text> 
            {{ result.description }}
          </mdb-card-text>
      
          <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->